@font-face {
    font-family: "Ubuntu"; 
    src: url("fonts\Ubuntu-Regular.ttf"); 
}

#warning-message { display: none; }
@media only screen and (orientation:portrait) and (max-width: 540px) {
    .slide, .main-nav { display:none; }
    #warning-message {
        margin-left: auto;
        display:block; 
        font-size: large;
    }
}
@media only screen and (min-width: 540px){
    #warning-message { display:none; }
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body {
    margin: 0;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}
.name {
    font-size: x-large;
    margin-left: 10px;
}
.main-nav {
    float: left;
    position: fixed;
    width: 20vw;
    height: 100vh;
}
.visited {
    font-size: medium;
    display: inline-block;
    color: darkgrey;
    text-decoration: none;
    transition: all .2s;
}
.visited:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.contact {
    text-align: right;
    width: 19vw;
    /* margin: auto; */
    bottom: 0;
    position: fixed;
}
.large {
    font-size: large;
}
.inst {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: transform .2s;
}
.inst:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.slide {
    width: 100vh;
    height: 80vw;
    left: 20vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
li {
    margin-left: 0;
    list-style: none;
    transition: transform .4s;
}
.current {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contents {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.photo {
    height: 100vh;
    margin-left: 20px;
}
img {
    pointer-events: none;
    -webkit-touch-callout: none;
}
@media only screen and (max-width: 850px) {
    .name {
        font-size: medium;
    }
    .current {
        font-size: small;
    }
    .visited {
        font-size: x-small;
    }
    .large {
        font-size: x-small;
    }
    .contact {
        font-size: xx-small;
    }
}