@charset "UTF-8";
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}

/* CSS Document */
html, body, main, header {
	padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 6vh;
}

.top {
    top: 0;
	height: 6vh;
	width: 100vw;
}

#lulogo {
	size: auto;
	margin-left: 1.2vw;
	margin-top: 1vh;
}

body {
	/* background-color: #E2E2E2; */
    background-color: white;
	overflow: hidden;
}

main {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-color: red; */
    display: flex;
}

main img {
    height: 100vh;
}

.menu {
    background-color: yellow;
	height: 100%;
	width: 10vw;
	max-width: 15vh;
	left: 0;
	position: fixed;
	z-index: 99;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuright {
    margin-left: 0;
    max-width: 100%;
    vertical-align: center;
}

.menuitem {
	transition: transform .1s;
}

#menuicon:hover {
	transform: scale(1.1);
}

.menuitem:hover {
	filter: brightness(0.4);
	transform: scale(1.1);
}

.menuright img {
	display: block;
	max-width: 15vh;
}

.right {
    margin-left: 10vw;
    width: 90vw;
    display: flex;
    background-color: #fafafa;
    background-image: url("img\about\about.jpg");
}

.text {
    width: 50%;
    height: 80%;
    padding: auto;
    background-color: red;
}

.text p {
    width: 80%;
    font-family: 'Segoe UI Regular';
    font-size: xx-large;
}

.img {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

.img img {
    height: 85%;
    width: auto;
    align-self: middle;
    vertical-align: middle;
}