@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-e43dk9');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}

/* General style */
body {
	padding: 0;
	margin: 0;
}

.fadeIn {
	-webkit-animation: animat_show 0.8s;
	animation: animat_show 0.8s;
	visibility: visible !important;
}


.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption {
	display: none;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Menu style */
.menu {
	height: 100vh;
	padding-left: 0;
	position: fixed;
	z-index: 99;
	width: 20vw;
	display: flex;
	cursor: pointer;
}

.menuleft {
	height: 95vh;
	line-height: 95vh;
	margin-left: -0.5vw;
	width: 4vw;
}

#menuicon {
	width: 4vw;
	max-height: 10vh;
	display: inline-block;
	vertical-align: middle;
	z-index: 99;
	transition: transform .1s;
}

#menuicon:hover {
	transform: scale(1.1);
}

.menuright {
	display: none;
	margin-left: 0vw;
	width: 15vw;
	max-width: 15vh;
	margin-top: 41vh;
	/* background-color: red; */
}

.menuitem {
	transition: transform .1s;
}

.menuitem:hover {
	filter: brightness(0.4);
	transform: scale(1.1);
}


.menuright img {
	display: block;
	margin-left: 20px;
	max-width: 15vh;
}

.right {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(50, 1fr);
	grid-template-rows: repeat(47, 2vh);
	position: relative;
	align-items: center;
}

/* Statement style */
#statementbkgd {
	z-index: 1;
	height: 100vh;
	position: fixed;
	width: 100vw;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.stateleft {
	display: none;
	width: 84vw;
	padding-left: 6vw;
	position: fixed;
	z-index: 1;
	text-align: center;
}

.stateleft p {
	padding-top: auto;
	color: white;
	font-family: 'Segoe UI Regular';
	font-size: large;
}

.stateright {
	position: fixed;
	height: 100vh;
	line-height: 95vh;
	right: 0;
	width: 6vw;
	z-index: 2;
}

#titleicon {
	right: 0;
	padding-right: 2px;
	max-width: 6vw;
	display: inline-block;
	vertical-align: middle;
	transition: 0.5s;
	transform: scale(1.8);
}


/* Grid style */
.grid-wrap {
	max-width: 100em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 25%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 10px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}

/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	max-width: 50vw;
	max-height: 72vh;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -330px 50px 0 -330px;
	visibility: hidden;
	overflow: hidden;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.3);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
    max-width: 100%;
    max-height: 100%;
	overflow: hidden;
}

.slideshow figure img {
	max-width: 40vw;
    max-height: 70vh;
	object-fit: contain;
}

/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 10vw;
}

.slideshow nav span.nav-prev {
	left: 10vw;
}


.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: rgba(255, 255, 255, 0.6);
}

.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
	content: "\e601";
}

span.nav-next:before  {
	content: "\e600";
}

span.nav-close:before {
	content: "\e602";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 200%;
		height: 200%;
		top: 50;
		left: 50;
		transform: scale(200%);
		transform: translate(-50%, -50%);
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin:  auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

	#menuicon, #titleicon {
		width: 5vw;
	}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
	#menuicon {
		width: 6vw;
	}

}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
	#menuicon {
		width: 8vw;
	}
}