html,
body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body {
	overflow-x: hidden;
  /* background: url('../images/bg.jpg') repeat top left; */
}

header {
    position: fixed;
    top: 0;
	left: 0;
	width: 100vw;
	display: inline-grid;
	grid-columns: 1fr 1fr 1fr;
}

header img {
	justify-self: center;
	cursor: pointer;
	transition: 0.2s;
}

header img:hover {
	transform: scale(1.2);
	filter: brightness(0.5);
}

#picon {
	grid-column: 1;
}

#dicon {
	grid-column: 2;
}

#oicon {
	grid-column: 3;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll {
	position: fixed;
	bottom: 0;
	left: 10;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon {
	top: 10;
	z-index: 1;
	width: 3000px;
}

.holder {
	height: 400px;
	width: 500px;
	display: inline-block;
}

#img1 {
	background-color: yellow;
}

#img2 {
    background-color: red;
}

#img3 {
    background-color: green;
}

#img4 {
    background-color: blue;
}
#img5 {
    background-color: pink;
}

.middle {
	z-index: 2;
	width: 4000px;
}

.front {
	z-index: 3;
	width: 6000px;
}


/* menu css */
.menu {
	height: 95vh;
	/* line-height: 95vh; */
	padding-left: 0;
	position: fixed;
	z-index: 99;
	/* width: 20vw; */
	grid-row: 1, last-line;
	display: flex;
	/* background-color: black; */
	cursor: pointer;

}

.menuleft {
	height: 95vh;
	line-height: 95vh;
	margin-left: -0.5vw;
	width: 4vw;
}

#menuicon {
	width: 4vw;
	max-height: 10vh;
	display: inline-block;
	vertical-align: middle;
	/* margin-bottom: 2vh; */
	z-index: 99;
	transition: transform .1s;

}

.menuright {
	display: none;
	margin-left: 0vw;
	width: 15vw;
	max-width: 15vh;
	margin-top: 41vh;
	/* background-color: red; */
}

.menuitem {
	transition: transform .1s;
}

#menuicon:hover {
	transform: scale(1.1);
}
.menuitem:hover {
	filter: brightness(0.4);
	transform: scale(1.1);
}

.menuright img {
	display: block;
	margin-left: 20px;
	max-width: 15vh;
}