body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(140, 140, 140);
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    margin-top: -10vh;
    font-size: 2em;
    margin-bottom: 10px;
    color: #e3e0e0;
    text-decoration: none;
    position: relative;
}

.links {
    text-decoration: none;
    color: #d8d2d8;
    margin: 5px;
    padding-top: 1vh;
    display: inline-block;
}

.links span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

/* css for gallery */
.slider {
    max-height: 90vh;
    z-index: 1;
    bottom: 0;
    position: absolute;
    width: max-content; 
    display: flex; /* Arrange the images in a row */
    overflow: scroll; /* Add a horizontal scrollbar when necessary */
    align-items: flex-end; /* Align the images to the bottom */
    white-space: nowrap; /* Prevent the images from wrapping to the next line */
}

.slide {
    z-index: 1;
    height: auto !important;
    transition: transform 0.3s ease; /* Smooth transition */
}

.slide:hover {
    transform: scale(1.2); /* Enlarge the image */
    transform-origin: bottom center;
    z-index: 2; /* Bring the image to the front */
}

/* styles for animations */
@keyframes moveRandomOnce {
    0% { transform: translate(0, 0); }
    50% { transform: translate(var(--random-distanceX), var(--random-distanceY)); }
    100% { transform: translate(0, 0); }
}